<template>

    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Notes</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Notes</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <form novalidate class="md-layout" @submit.prevent="validate">
                <md-card class="md-layout-item md-size-100 md-small-size-100">

                    <md-card-content>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100 col-md-8">
                                <md-field>
                                    <label>Title</label>
                                    <md-input v-model="form.title"></md-input>
                                </md-field>
                                <md-field>
                                    <label>Text</label>
                                    <md-textarea v-model="form.text"></md-textarea>
                                </md-field>
                            </div>
                            <div class="col-md-4">
                                <md-field>
                                    <label>Preview Image</label>
                                    <pictureupload
                                            ref="pictureUpload"
                                            v-model="image"
                                            :width="300"
                                            :height="300"
                                            :removable="true"
                                            :toggleAspectRatio="true"
                                            :autoToggleAspectRatio="true"
                                            removeButtonClass="ui red button"
                                            accept="image/jpeg, image/png, image/gif"
                                            buttonClass="ui button primary"
                                            :customStrings="{
                                              upload: '<h6>Upload it!</h6>',
                                              drag: 'Drag and drop your image here'
                                            }">
                                    </pictureupload>
                                </md-field>
                            </div>
                        </div>
                    </md-card-content>

                    <md-progress-bar md-mode="indeterminate" v-if="sending" />

                        <md-button type="submit" class="md-raised md-primary" :disabled="sending">note</md-button>

                </md-card>

                <md-snackbar :md-active.sync="noteSaved">The note was published successfully!</md-snackbar>
            </form>

            <note-container v-for="note in notes.data"
                            v-bind:key="note.id"
                            v-bind:note="note"
            ></note-container>

            <pagination :data="notes"
                        @pagination-change-page="getNotes">
                <md-button class="md-icon-button md-raised">
                    <md-icon class="fas fa-trash-alt"></md-icon>
                </md-button>
                <md-button class="md-fab">
                    <md-icon class="fad fa-ban"></md-icon>
                </md-button>
            </pagination>
        </div>




        <!-- /.content -->

    </div>

</template>

<script>
    import { validationMixin } from 'vuelidate'
    import {
        required,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'
    import noteComponent from "../components/NoteComponent";
    import ImageUpload from 'vue-picture-input';

    export default {
        name: 'notes',
        mixins: [validationMixin],

        components: {
            'note-container': noteComponent,
            pictureupload: ImageUpload

        },

        data() {

            return {
                noteSaved: false,
                sending: false,
                lastNote: null,
                form: {
                    title: null,
                    text: null,
                },
                notes: {},
                image: null,
            }

        },
        validations: {
            form: {
                text: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(3000),
                }
            }
        },

        mounted() {
            this.getNotes();
        },

        methods: {

            getNotes(page = 1) {
                let self = this;

                axios.get(`/api/notes?page=${page}`)
                    .then(function (response) {
                        self.notes = response.data;
                    });
            },

            saveNote(){
                this.sending = true;

                window.setTimeout(() => {
                    this.lastNote = this.form
                    this.image = {
                        name: this.$refs.pictureUpload.fileName,
                        body: this.$refs.pictureUpload.image
                    };

                    axios.post('/api/notes/store',
                                {
                                    note: this.form,
                                    image: this.image
                                })
                        .then(() => {
                        this.noteSaved = true
                        this.sending = false
                        this.clearForm()
                    })
                },1500)

            },

            validate () {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    this.saveNote()
                }
            },
            getValidationClass (fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            clearForm () {
                this.$v.$reset()
                this.form.title = null
                this.form.text = null
                this.form.user_id = null
                this.image = null
            },
        }
    }

</script>

<style lang="scss" scoped>
    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
</style>
