<template>
    <md-card md-with-hover>
        <md-ripple>
            <md-card-header>
                <div class="md-title">{{note.title}}</div>
                <div class="d-flex flex-row">
                    <div class="md-subhead mr-4">{{note.name}}</div>
                    <div class="md-subhead">{{note.email}}</div>
                </div>
            </md-card-header>

            <md-card-content>
                <div class="d-flex flex-row">
                    <div class="text mr-4 col-md-8">
                        {{note.text}}
                    </div>
                    <div class="card-img col-md-4">
                        <img alt="preview image"
                             width="200"
                             height="200"
                             v-bind:src="'/images/' + note.img_url"
                        >
                    </div>
                </div>
            </md-card-content>

            <md-button @click="deleteNote(note.id)" class="md-fab-bottom-right md-raised md-icon-button">
                <md-icon>Del</md-icon>
            </md-button>
        </md-ripple>
    </md-card>
</template>

<script>
    export default {
        props: ['note'],

        data() {
            return {
            }

        },

        methods: {
            deleteNote(id){
                axios.post('/api/notes/delete', {id: id})
                    .then(function () {
                        // this.$parent.notes.splice(id, 1);
                        location.reload()
                    });
            },
        }
    }
</script>